.md-teaser-image.betpoker{
    background-position: top center;
}
.md-teaser-inner-text.betpoker{
    max-width: 400px;
    padding-left: 10px;
}
.divider.betpoker{
    margin-bottom: 10px;;
}
.image-mobile.betpoker{
    background-position: top center;
}
.teaser-text-mobile.betpoker{
    background: none !important;
}